* {
    box-sizing: border-box;
    background-color: whitesmoke;
}

< !-- Stijl van de mobile versie -- >

/* Stijl van de body */
body {
    background-color: white;
}

/* Lettertype van de pagina */
header,
h1,
h2,
h3,
p {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
    background-color: white;
}

/* Stijl van de header */
header {
    background-color: white;
    padding: 5px;
    font-style: italic;
    font-size: 15px;
    color: black;
    text-align: center;
}

/* Style van de titel in de header en de logo in de nav */
h1 {
    background-color: white;
}

/* Stijl van de subtitel */
h2 {
    text-align: center;
    background-color: white;
    margin: 2%
}

/* Stijl van de paragraaf */
p {
    font-weight: normal;
}

/* Stijl van de menu in de navigatiebar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    border: 1px solid darkgray;
}

nav ul li a {
    background-color: white;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

nav ul li a:hover {
    background: grey;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

/* Stijl van de logo in nav */
nav div:first-child h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav div:first-child img {
    filter: grayscale(100%);
}

/* Stijl van de main "contactmain" */
.contactsection {
    text-align: center;
    padding: 1%;
    border: 3px solid black;
    margin: 20px;
    background-color: white;
}

.contactlist {
    list-style-type: none;
    padding: 0;
}

.voorkantimg {
    width: 90%;
}

/* Stijl van de main "mapmain" */
.map-flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
}

.googlemap {
    height: 500px;
    width: 90%;
}

.sectiongooglemap {
    padding: 1%;
    border: 3px solid black;
    margin: 20px;
    background-color: white;
}

.tekstmap {
    margin: 20px;
    padding: 1%;
    border: 3px solid black;
    background-color: white;

}

/* Stijl op de footer */
footer {
    background-color: white;
    padding: 5px;
    font-style: italic;
    color: black;
    text-align: right;
    border-top: 3px solid black;
}

/* Stijl op grote scherm */
@media only screen and (min-width:700px) {

    /* Stijl van de nav */
    nav {
        display: flex;
        justify-content: space-between;
        background: white;
        align-items: center;
        /*padding:10px;*/
        border-bottom: 3px solid black;
    }

    nav ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    nav ul li {
        border: none;
    }

    /* een kleine transitie op de menu van nav */
    nav ul li a {
        width: 120px;
        -webkit-transition: width 1s, -webkit-transform 2s;
        /* Safari */
        transition: width 1s, transform 2s;
    }

    nav ul li a:hover {
        width: 150px;
    }

    nav.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;

    }

    /* Stijl van de main "contactmain" */
    .contactsection {
        padding: 20px;
        overflow: auto;

    }


    .contactlist {
        list-style-type: none;
        padding: 0;

    }

    .voorkantimg {
        width: 60%;
        height: 30%;
        float: left;
    }

}
