* {
    box-sizing: border-box;
    background-color: whitesmoke;
   
}
header {
    background-color: white;
    padding:5px;
    font-family: "Trebuchet MS", sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-align: center;
    
}

 .map, h2, .googlemap {
    background-color: white;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
    
}
.googlemap {
    float: left;
}
.tekstmap {
    background-color: white;
}


h1 {
    background-color: white;
}
nav ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Trebuchet MS", sans-serif;
}

nav ul li a {
    background-color: white;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;   
}

nav ul li {
    border: 1px solid darkgray;
}

nav div:first-child {
    background:white;
}

nav div:first-child h1{
    text-align: center;
    background: white;
    margin:0;
    padding:0;
}
nav div:first-child img{
    
    filter: grayscale(100%);
    
}

 nav ul li a:hover{
        background: grey;
        color:white;
        
    }
.active {
    background-color: black;
    color:white;
}


slider {
    display:block;
    width:100%;
    height: 500px;
    background-color: black;
    overflow: hidden;
    position: absolute;
  
    
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height:500px;
    background-color: black;  
    overflow: hidden;
     animation: slide 12s infinite;
}

slide:nth-child(1) {
    left:0%;
    animation-delay: -1s;
    background-image: url("https://raw.githubusercontent.com/RalphCuizon/MI1-2018-2019-/master/klant/img/Mir-Cafe-foto.jpg");
    background-size: cover;
    background-position: center;
    
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url("https://raw.githubusercontent.com/RalphCuizon/MI1-2018-2019-/master/klant/img/croque.jpg");
    background-size: cover;
    background-position: center;
    
}

slide:nth-child(3) {
    
    animation-delay: 5s;
    background-image: url("https://raw.githubusercontent.com/RalphCuizon/MI1-2018-2019-/master/klant/img/kofte.jpg");
    background-size: cover;
    background-position: center;
    
}

slide:nth-child(4) {
    
    animation-delay: 8s;
    background-image: url("https://raw.githubusercontent.com/RalphCuizon/MI1-2018-2019-/master/klant/img/kumpir.jpg");
    background-size: cover;
    background-position: center;
    
}

@keyframes slide {
    0% { left:100%; width:100%;}
    5% { left: 0%;}
    25% {left:0%;}
    30% { left: -100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% { left:100%; width:0%;}
}
@media only screen and (min-width:700px) {
    
    nav{
        display: flex;
        justify-content: space-between;
        background: white;
        align-items:center;
        padding:10px;
        border-bottom: 3px solid darkgrey;
        
    }
    
    nav ul {
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        
        
        
    }
    
    nav div:first-child h1 {
        margin-left: 5px;
    }
    nav ul li {
        border: none;
        
        
    }
    
    nav ul li a {
        width:120px;
        -webkit-transition: width 5s, -webkit-transform 2s; /* Safari */
  transition: width 5s, transform 5s;
    }
    nav ul li a:hover{
        background: grey;
        color:white;
        width : 150px;
        
        
        
    }
    
    nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;

}
    body {
    height:10000px;
}

}